/* product-grid.css */

.card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}



.highlight {
    grid-area: highlight;
    background-image: url("../../images/produtos/card_imagem.jpg");
    
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url("../../images/produtos/roxo-verde.jpg");
}

.model {
    grid-area: model;
    background-image: url("../../images/produtos/modelo.jpg");
}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url("../../images/produtos/colorido-futurista.jpg");
    
}

.sneaker-white {
    grid-area: sneaker-white;
    background-image: url("../../images/produtos/preto-azul.jpg");
}

.sneaker-grey {
    grid-area: sneaker-grey;
    background-image: url("../../images/produtos/cinza-futurista.jpg");

}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-grey";
    gap: 30px;

}

.highlight-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.card-title{
    color: var(--back-color-shadow);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;

}

.card-subtitle{
    color: var(--back-color-shadow);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;

}

.cta-group{
    display: flex;
    gap: 10px;
}

@media (max-width: 768px){

    .grid-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "highlight highlight"
        "highlight hightlight" 
        "sneaker-white sneaker-white"
        "model sneaker-color"
        "model sneaker-grey"
        "sneaker-purple sneaker-purple";
        max-width: 100%;
        gap: 0.625rem
    }

    .highlight{
        min-height: 500px;
    }

    .model{
        min-height: 370px;
    }

    

    .sneaker-white, .sneaker-purple{
        min-width: 190px;
    }

}